.chip-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-direction: row;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #ccc;

    background-color: #fff;
    width: 100%;
    min-height: 5rem;
    box-sizing: border-box;
    cursor: text;
    transition: border-color 0.2s ease-in-out;

    &:focus-within {
        border: none;
        border-bottom: 1px solid #1ea7fd;
    }
    border-radius: 8px;
    
}

.chip-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    background-color: transparent;
    height: 100%;
    box-sizing: border-box;
    cursor: text;
    transition: background-color 0.2s ease-in-out;
    font-family: Poppins,sans-serif;
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;

    &:focus {
        outline: none;
    }
}

.chip-autocomplete {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: none;
    background-color: #fff;
    max-height: 200px;
    width: 500px;
    overflow-y: auto;
    box-sizing: border-box;
    cursor: text;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    box-shadow: #ccc 0px 0px 0px 1px inset;
    border-radius: 4px;
}

.chip-autocomplete::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
}

.chip-autocomplete::-webkit-scrollbar-thumb {
    background-color: rgb(220, 220, 220);
    border-radius: 20px;
    border: 3px solid rgb(197, 183, 183);
    /* creates padding around scroll thumb */
}

.chip-autocomplete-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    gap: 4px;
    width: 100%;
    padding: 8px 0px;

    &:hover {
        background-color: #d4d4d4;
    }
}

.chip-autocomplete-title {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #333;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Poppins,sans-serif;
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

.chip-autocomplete-value {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #333;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Poppins,sans-serif;
    font-size: 26px;
    line-height: 50px;
    font-weight: 600;
}

.chip-autocomplete-avatar {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.chip-autocomplete-options-selected {
    background-color: #e5e5e5;
}

.chip-autocomplete-options:hover {
    background-color: #f5f5f5;
}