.chip{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5rem;
    background-color: #e0e0e0;
    color: #4a3d3d;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    padding: 0px;
    &:hover{
        background-color: #b2b2b2
    }
}
.chip-disabled{
    pointer-events: none;

}
.chip-icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    &:hover{
        color: #1ea7fd;
    }
}
.chip-prefix{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.chip-suffix{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.chip-text{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.chip-close {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        color: #ca4a31;
    }
}
.chip-avatar{
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.chip-highlighted{
    background-color: #1ea7fd;
    color: #fff;
    .chip-icon{
        color: #fff;
    }
    .chip-close{
        color: #fff;
    }
}